.logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/foosball.svg");
  background-size: 64px;
}

body {
    font-family: 'Rubik', sans-serif;
}

.caption-below {
    caption-side: bottom;
}

.icon-label {
    padding-bottom: 10px;
}

.eliminated > td {
    border-top: black 2px solid !important;
    color: #777;
}

.eliminated ~ .eliminated > td {
    border-top: 1px solid #ddd !important;
}

.attribution {
    padding-bottom: 8px;
}

.attribution > img {
    padding-right: 4px;
}

.primary {
    font-weight: bolder;
}

.win {
    color: green;
}

.loss {
    color: red;
}

.draw {
    color: black;
}

.champion {
    font-size: 32px;
}

@media (min-width: 768px)
.container {
    max-width: 1200px;
}

@media (min-width: 1200px)
.container {
    width: 1078px;
}

[data-toggle="tooltip"] {
    cursor: default;
}

a[data-toggle="tooltip"] {
    cursor: auto;
}